{% extends "base.html" %}
{% block content %}
			<div role="main" class="main">

				<section class="page-header">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<ul class="breadcrumb">
									<li><a href="#">Home</a></li>
									<li class="active">Register</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<h1>Register</h1>
							</div>
						</div>
					</div>
				</section>

				<div class="container">

					<div class="row">
						<div class="col-md-12">

							<div class="featured-boxes">
								<div class="row">
									



									<div class="col-sm-12">
										<div class="featured-box featured-box-primary align-left mt-xlg" >
											<div class="box-content">
												<h4 class="heading-primary text-uppercase mb-md">Register An Account</h4>
		

									{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>Oops!</strong> {{ error|escape }}
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>Oops!</strong> { error|escape }}
        </div>
    {% endfor %}
{% endif %}
{% if reg_form.errors %}
    {% for field in reg_form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>Oops!</strong> {{ error|escape }}
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in reg_form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>Oops!</strong> {{ error|escape }}
        </div>
    {% endfor %}
{% endif %}

{% if messages %}
<div class="alert alert-danger">
    {% for message in messages %}
    <strong>Oops!</strong> {{ message }}
    
    {% endfor %}
</div>
{% endif %}


												<form action="." id="frmSignUp" method="post">{% csrf_token %}

													<div class="row">
														<div class="form-group">
															<div class="col-md-6">
																<label>First Name</label>
																{{form.first_name}}
															</div>
															<div class="col-md-6">
																<label>Last Name</label>
																{{form.last_name}}
															</div>
														</div>
													</div>
													<div class="row">
														<div class="form-group">
															<div class="col-md-6">
																<label>Comapany</label>
																{{reg_form.company}}
															</div>
															<div class="col-md-6">
																<label>Telephone</label>
																{{reg_form.contact}}
															</div>
														</div>
													</div>
													<div class="row">
														<div class="form-group">
															<div class="col-md-12">
																<label>Email</label>
																{{form.email}}
															</div>
					
														</div>
													</div>
													<div class="row">
														<div class="form-group">
															<div class="col-md-6">
																<label>Password</label>
																{{form.password1}}
															</div>
															<div class="col-md-6">
																<label>Re-enter Password</label>
																{{form.password2}}
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-12">
															<input type="submit" value="Register" class="btn btn-primary pull-right mb-xl" data-loading-text="Loading...">
														</div>
													</div>
												</form>
											</div>
										</div>
									</div>



									
								</div>

							</div>
						</div>
					</div>

				</div>

			</div>

		{% endblock content %}